.page {
  @apply border border-gray-300 pt-1 text-sm text-gray-700 hover:text-gray-500 focus:outline-none  transition duration-150 ease-in-out !important;
}

.my-custom-style {
  background-color: #45f5cf;
}
.my-custom-style-border {
  border: 1px solid #45f5cf;
  background-color: #45f5cf;
}
.cur-page {
  @apply my-custom-style text-white font-semibold  hover:bg-green-700 hover:border-green-700 hover:text-white !important;
}

.v2-checkbox__input.is-checked .v2-checkbox__inner {
  @apply my-custom-style;
}

.zyno-sort-ascending {
  border-top: 5px solid #45f5cf;
}

.zyno-sort-descending {
  border-top: 5px solid #999;
  border-bottom: 5px solid #45f5cf;
}

.v2-table__cell.v2-table__column-cell.ascending .ascending-caret {
  @apply zyno-sort-ascending;
}

.descending-caret {
  @apply zyno-sort-descending;
}

.CodeMirror {
  @apply max-h-full;
}
